/bootstrap/compiled.php
/vendor
/db
app/config/server
app/config/rita
app/config/chingiz
app/config/database.php
app/storage
.ssh
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db