html,
body
{
	height: 100%;
	
}

body
{
	/*color: #666;*/
	border-top: 3px solid #dc3338;
	font-family: Calibri, sans-serif;
	padding-bottom: 290px;
	/*background: url('/img/bg/pattern.gif') repeat fixed;*/
	background: url('/img/bg/bg.png') repeat fixed;
	/*background: url('/img/bg/geometry.png') repeat fixed;*/
}

body *
{
	word-wrap:break-word;
}

.container
{
	/*padding: 0;*/
	/*border:1px solid #ccc;*/
}

.navbar-wrapper
{
	font-size: 16px;	
}

@media (min-width: 768px) {
	.navbar-wrapper
	{
		margin-top:20px;
	}
}

.glyphicon
{
	top: -1px;
	vertical-align: middle;
}

.footer
{
	background-color: #f5f5f5;
}


.dropdown-submenu
{
	position: relative;
}

.dropdown-submenu>.dropdown-menu
{
	top: 0;
	left: 100%;
	margin-top: 0;
	margin-left: 0;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu
{
	display: block;
}

.dropdown-submenu>a:after
{
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after
{
	border-left-color: #fff;
}

.dropdown-submenu.pull-left
{
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu
{
	left: -100%;
	margin-left: 10px;
	border-radius: 6px 0 6px 6px;
}

@media (min-width: 768px){
	
	.blue-menu .navbar-default
	{
		border-color:  1px solid #bbbff7;
		border-top: 0;
		border-left: 0;
		background: #2B518B;
		box-shadow: 0 1px 0 #2B518B;
	}

	.blue-menu .navbar-brand
	{
		color: #fff;
	}

	.blue-menu .navbar-brand:hover
	{
		color: #dc3338;
	}

	.blue-menu .navbar-nav
	{
		padding: 0 30px;
		background: #2B518B;
	}

	.blue-menu .navbar-default .navbar-nav a
	{
		color: #fff;
		/*font-weight: bold;*/
	}

	.blue-menu .navbar-default .navbar-nav a:hover
	{
		color: #bbbff7;
		/*font-weight: bold;*/
	}

	.blue-menu .navbar-default .navbar-nav > .open > a
	{
		background: none;
		color: #dc3338;
	}

}

.depcontent
{
	padding: 20px;
	position: relative;
	overflow: hidden;
}

.depsidebar
{
	list-style:none;
	box-shadow: 0 0 10px 0 #ddd;
	border-radius: 4px;
	background: rgba(255,255,255,0.6);
	padding: 10px 20px;
}

.depsidebar li
{
	margin-bottom: 5px;
}

.deppeople
{
	list-style-type: none;
}

.deppeople li
{
	padding: 10px;
	border-bottom:1px solid #ccc;
}

.btn-top-right
{
	top: 10px;
	right: 10px;
	position: absolute;
}

legend 
{
	width: inherit;
	border: 0;
	margin-left: 10px;
	margin-bottom: 0;
	padding: 5px 10px;
}


.logo-color
{
	color: #2a6496;
}

.menu-style
{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}